.datos{
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}
.datos h3{
    text-align: center;
    font-weight: 400;
}
.datos form{
    width: 290px;
    margin: auto;
    margin-top: 30px;
}
.datos form div{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}
.datos form div span{
    font-size: 1.2rem;
}
.datos form div input{
    height: 30px;
    width: 240px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 10px;
}
.datos form div input[type=submit]{
    height: 50px;
    background-color: var(--primario);
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: .3s;
    margin: auto;
    margin-top: 20px;
}
.datos form div select{
    height: 43px;
    width: 255px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 10px;
    cursor: pointer;
}
.datos form div button{
    height: 43px;
    width: 255px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: #008000;
    color: #fff;
}
#boleta{
    display: none;
}
#dni{
    display: none;
}
#partida{
    display: none;
}